@import url("base.css");
@import url("carrossel.css");

/*Fontes

font-family: 'Manrope', sans-serif;
font-family: 'Nova Square', sans-serif;

*/

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-bottom: 60px;
    background-color: var(--preto);
}

.inicio h1{
    color: #ff3131;
    font-size: 800%;
    font-family: "Kanit", sans-serif;
    filter: drop-shadow(0.1px 0.1px 20px #323232);
}

.inicio p{
    color: #f6f6f6;
    text-align: center;
    font-size: 200%;
    font-family: 'Nova Square', sans-serif;
    filter: drop-shadow(0.1px 0.1px 20px #323232);
}

.info{
    padding: 100px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    gap: 10%;
}

.title-info{
    width: 100%;
}

.title-info h1{
    font-family: "Kanit", sans-serif;
    font-size: 250%;
    color: var(--vermelho);
}

.text-info p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    color: var(--preto);
}

/* SOBRE */
.sobre{
    padding: 100px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
    gap: 10%;
}

.sobre img{
    width: 350px;
    object-fit: cover;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #000000);
    transition: 0.3s;
}

.sobre img:hover{
    opacity: 0.7;
}

.info-sobre{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(255,49,49,1) 0%, rgba(255,145,77,1) 100%);
    filter: drop-shadow(5px 5px 10px #000000);
}

.info-sobre h1{
    margin-top: 20px;
    font-family: "Kanit", sans-serif;
    font-size: 40px;
    color: var(--branco);
}

.info-sobre p{
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: var(--branco);
    text-align: justify;
}

/* SEPARADOR */
.separador{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: #ff3131;
}

.separador img{
    width: 8%;
}

/* SERVIÇOS */
.serviços{
    background-color: var(--preto);
    padding: 40px 20px;
}

.serviços h1{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    color: #ff3131;
    margin-bottom: 40px;
}

.container-serviços{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.prod-serviços{
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--branco);
}

.prod-serviços-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-serviços img{
    margin-bottom: 20px;
    width: 50%;
}

.prod-serviços-textos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: solid 3px var(--preto);
}

.prod-serviços-textos h1{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    color: #ff3131;
    margin-bottom: 0px;
}

.prod-serviços-textos p{
    font-size: 20px;
    font-weight: 500;
}

.vermelho{
    color: var(--vermelho-escuro);
}

.prod-serviços-textos button{
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: var(--shadow);
    transition: 300ms;
    cursor: pointer;
}

.prod-serviços-textos button:hover{
    background-color: var(--vermelho-escuro);
}


/* CLIENTES */
.clientes{
    background-color: var(--branco);
    padding: 100px 150px;
}

.clientes h1{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    color: #ff3131;
}

.imagens-clientes{
    display: grid;
    grid-template-columns: repeat(1);
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1200px;
}

@media (min-width: 900px){
    .imagens-clientes{
        grid-template-columns: repeat(4, minmax(0, 4fr));
    }
}

.logos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ver-site{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    background-color: var(--vermelho);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

.ver-site:hover{
    background-color: var(--preto);
}

.logos img{
    width: 100%;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #000000);
    transition: 0.3s;
}

.logos img:hover{
    opacity: 0.7;
}

@media (max-width: 1000px) {
    .inicio h1{
        font-size: 600%;
    }
    
    .info{
        flex-direction: column;
        padding: 50px 20px;
    }

    .title-info h1{
        text-align: center;
        margin-bottom: 20px;
    }

    .sobre{
        flex-direction: column;
        padding: 50px 20px;
    }

    .sobre img{
        margin-bottom: 40px;
    }

    .clientes{
        padding: 50px 20px;
    }

    .container-serviços{
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .inicio h1{
        font-size: 400%;
    }

    .prod-serviços{
        width: 100%;
    }
}