@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Nova+Square&display=swap');

/*Fontes

font-family: 'Manrope', sans-serif;
font-family: 'Nova Square', sans-serif;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    height: 100%;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container-inicio{
    display: block;
}

#titulo{
    color: #FDF0D5;
    font-size: 100px;
    font-family: 'Nova Square', sans-serif;
    position: absolute;
    top: 300px;
    left: 500px;
    filter: drop-shadow(5px 5px 10px #000000);
}

#sub-titulo{
    color: #FDF0D5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nova Square', sans-serif;
    position: absolute;
    top: 425px;
    left: 650px;
    filter: drop-shadow(5px 5px 10px #000000);
}

a {
    color: #FDF0D5;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Nova Square', sans-serif;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: black;
    height: 8vh;
}

main {
    background: url("/images/brown-aesthetic-wdan69t9mhfvfwqx.jpg") no-repeat center center;
    background-size: cover;
    height: 85vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.info{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #695441;
}

#title-info{
    width: 100px;
    font-family: 'Nova Square', sans-serif;
    font-size: 40px;
    color: #FDF0D5;
}

#text-info{
    width: 600px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #FDF0D5;
}

.sobre{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FDF0D5;
}

#img-sobre{
    width: 430px;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #000000);
}

.info-sobre{
    display: block;
    padding: 22px;
    border-radius: 15px;
    background-color: #D9A462;
    filter: drop-shadow(5px 5px 10px #000000);
}

#title-sobre{
    margin-top: 20px;
    font-family: 'Nova Square', sans-serif;
    font-size: 40px;
    color: #FDF0D5;
}

#text-sobre{
    width: 600px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: #FDF0D5;
    text-align: justify;
}

.separador{
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
}

#img-separador{
    width: 100px;
}


@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }