@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope&family=Nova+Square&display=swap');

/*Fontes

font-family: 'Manrope', sans-serif;
font-family: 'Nova Square', sans-serif;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    height: 100%;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container-inicio{
    display: block;
}

#titulo{
    color: #ff3131;
    margin-top: -190px;
    font-size: 140px;
    font-family: "Kanit", sans-serif;
    filter: drop-shadow(0.1px 0.1px 20px #323232);
}

#sub-titulo{
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Nova Square', sans-serif;
    filter: drop-shadow(0.1px 0.1px 20px #323232);
}


#link {
    color: #f6f6f6;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Kanit", sans-serif;
}

#link:hover {
    color: #ff3131;
    text-decoration: underline;
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo-nav{
    width: 50px;
    filter: drop-shadow(0.1px 0.1px 20px #fff);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #1b1b1b;
    height: 20vh;
}

main {
    background-color: #1b1b1b;
    background-size: cover;
    height: 600px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #f6f6f6;
    margin: 8px;
    transition: 0.3s;
}

.info{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f6f6;
}

#title-info{
    width: 170px;
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    color: #ff3131;
}

#text-info{
    width: 600px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #1b1b1b;
}

.sobre{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1b1b1b;
}

#img-sobre{
    width: 430px;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #000000);
    transition: 0.3s;
}

#img-sobre:hover{
    opacity: 0.7;
}

.info-sobre{
    display: block;
    padding: 22px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(255,49,49,1) 0%, rgba(255,145,77,1) 100%);
    filter: drop-shadow(5px 5px 10px #000000);
}

#title-sobre{
    margin-top: 20px;
    font-family: "Kanit", sans-serif;
    font-size: 40px;
    color: #f6f6f6;
}

#text-sobre{
    width: 600px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: #f6f6f6;
    text-align: justify;
}

.separador{
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ff3131;
}

#img-separador{
    width: 100px;
}

.clientes{
    height: 550px;
    background-color: #f6f6f6;
}

.centraliza{
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-clientes{
    margin-top: 100px;
    width: 250px;
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    color: #ff3131;
}

.imagens-clientes{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#img-cliente{
    width: 250px;
    height: 250px;
    object-fit: contain;
    background-color: #1b1b1b;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #000000);
}

#img-cliente-el{
    width: 250px;
    height: 250px;
    object-fit: contain;
    background-color: #181F2D;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #000000);
}

#img-cliente-sb{
    width: 250px;
    height: 250px;
    object-fit: contain;
    background-color: #f6f6f6;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #000000);
}

.links-clientes{
    background-color: #1b1b1b;
    height: 430px;
}

#titulo-link{
    margin-top: 100px;
    width: 410px;
    font-family: "Kanit", sans-serif;
    font-size: 40px;
    color: #ff3131;
}

.links-dos-clientes{
    margin-top: 50px;
    margin-left: 10%;
    display: block;
    align-items: start;
}

#text-link{
    color: #f6f6f6;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    margin-bottom: 10px;
}

#link-link{
    color: #ff3131;
    font-family: 'Manrope', sans-serif;
    transition: 0.3s ;
}

#link-link:hover{
    color: #ff3131;
    opacity: 0.7;
}

.rodape {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding: 45px 100px 10px 100px;
}

/*codigo para separar a primeira parte do rodape*/
.separar1 {
    display: flex;
    justify-content: space-between;
}

.separar1 span {
    display: block;
    margin-bottom: 10px;
}

/*codigo para ajustar a parte do contato do rodape */
div.contato {
    font-family: "Kanit", sans-serif;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    min-width: 12vw;
}

div.contato a#telefone-contato {
    width: 150px;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

#telefone-contato:hover{
    opacity: 0.7;
}

/*codigo para ajustar a parte da localização do rodape */
div.localizacao {
    font-family: "Kanit", sans-serif;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 0vw;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    min-width: 25vw;
}

/*linha cinza que divide o rodape*/
.linha-cinza {
    border-bottom: 1px solid #ccc;
}

/*codigo para separar a segunda parte do rodape*/
.separar2 {
    display: flex;
    justify-content: space-between;
}

/* codigo para retirar a cor azul do link */
.icones-sociais a {
    color: inherit;
}

/* codigo para separar os icones do intagram e do linkedin */
.icones-sociais a:nth-child(1) {
    margin-right: 5px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #1b1b1b;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }